[ActionPlugins][1]
RightButton;NoModifier=org.kde.latte.contextmenu

[Containments][12]
PreloadWeight=0
activityId=
formfactor=2
immutability=1
lastScreen=14
layoutId=
location=4
plugin=org.kde.plasma.private.systemtray
wallpaperplugin=org.kde.image

[Containments][12][Applets][302]
immutability=1
plugin=org.kde.plasma.notifications

[Containments][12][Applets][302][Configuration]
PreloadWeight=0

[Containments][12][Applets][303]
immutability=1
plugin=org.kde.plasma.bluetooth

[Containments][12][Applets][303][Configuration]
PreloadWeight=14

[Containments][12][Applets][40]
immutability=1
plugin=org.kde.plasma.nightcolorcontrol

[Containments][12][Applets][40][Configuration]
PreloadWeight=0

[Containments][12][Applets][41]
immutability=1
plugin=org.kde.plasma.volume

[Containments][12][Applets][41][Configuration]
PreloadWeight=0

[Containments][12][Applets][41][Configuration][ConfigDialog]
DialogHeight=480
DialogWidth=640

[Containments][12][Applets][41][Configuration][General]
volumeStep=1

[Containments][12][Applets][43]
immutability=1
plugin=org.kde.plasma.networkmanagement

[Containments][12][Applets][43][Configuration]
PreloadWeight=0

[Containments][12][Applets][44]
immutability=1
plugin=org.kde.plasma.vault

[Containments][12][Applets][44][Configuration]
PreloadWeight=0

[Containments][12][Applets][46]
immutability=1
plugin=org.kde.plasma.keyboardindicator

[Containments][12][Applets][46][Configuration]
PreloadWeight=0

[Containments][12][Applets][47]
immutability=1
plugin=org.kde.plasma.printmanager

[Containments][12][Applets][47][Configuration]
PreloadWeight=0

[Containments][12][Applets][49]
immutability=1
plugin=org.kde.plasma.devicenotifier

[Containments][12][Applets][49][Configuration]
PreloadWeight=0

[Containments][12][ConfigDialog]
DialogHeight=540
DialogWidth=720

[Containments][12][General]
blockedAutoColorItems=KIMToy_/IBus/Logo,org.kde.plasma.battery,chrome_status_icon_1,MSM Notifier for Plasma5,org.kde.plasma.mediacontroller,org.kde.plasma.mediacontroller_plus,org.kde.plasma.notifications,Package Manager,org.kde.plasma.printmanager,org.kde.kdeconnect,org.kde.plasma.clipboard
extraItems=org.kde.plasma.volume,org.kde.plasma.devicenotifier,org.kde.plasma.keyboardindicator,org.kde.plasma.networkmanagement,org.kde.plasma.bluetooth,org.kde.plasma.nightcolorcontrol,org.kde.plasma.printmanager,org.kde.plasma.vault,org.kde.plasma.notifications
hiddenItems=KMix,Toolbox,KOrganizer Reminder Daemon,org.kde.ktp-contactlist,KIMToy,org.kde.plasma.vault,chrome_status_icon_1,MSM Notifier for Plasma5,News available!,matray,Package Manager,KotatogramDesktop,org.kde.plasma.networkmanagement,TelegramDesktop,Discover Notifier_org.kde.DiscoverNotifier,flameshot,KDE Daemon,org.kde.plasma.notifications
iconsSpacing=4
knownItems=org.kde.plasma.clipboard,org.kde.plasma.battery,org.kde.plasma.volume,org.kde.plasma.notifications,org.kde.plasma.devicenotifier,org.kde.plasma.keyboardindicator,org.kde.plasma.networkmanagement,org.kde.plasma.bluetooth,org.kde.plasma.mediacontroller,org.kde.plasma.nightcolorcontrol,org.kde.plasma.manage-inputmethod,org.kde.plasma.keyboardlayout,org.kde.plasma.printmanager,org.kde.plasma.vault
shownItems=KIMToy_/IBus/Logo,org.kde.plasma.volume

[Containments][13]
activityId=
byPassWM=false
dockWindowBehavior=true
enableKWinEdges=true
formfactor=2
immutability=1
isPreferredForShortcuts=false
lastScreen=14
layoutId=
location=4
maxLength=100
name=JokerWrld Dock - 2
onPrimary=false
plugin=org.kde.latte.containment
raiseOnActivityChange=false
raiseOnDesktopChange=false
screensGroup=1
settingsComplexity=4
timerHide=700
timerShow=200
viewType=0
visibility=0
wallpaperplugin=org.kde.image

[Containments][13][Applets][297]
immutability=1
plugin=com.pajuelo.plasmaConfSaver

[Containments][13][Applets][297][Configuration]
PreloadWeight=0

[Containments][13][Applets][298]
immutability=1
plugin=org.kde.plasma.dittomenu

[Containments][13][Applets][298][Configuration]
PreloadWeight=0

[Containments][13][Applets][298][Configuration][ConfigDialog]
DialogHeight=450
DialogWidth=600

[Containments][13][Applets][298][Configuration][General]
displayPosition=Center
favoritesPortedToKAstats=true
showFavoritesFirst=true

[Containments][13][Applets][299]
immutability=1
plugin=org.kde.plasma.manage-inputmethod

[Containments][13][Applets][299][Configuration]
PreloadWeight=0

[Containments][13][Applets][301]
immutability=1
plugin=org.kde.plasma.lock_logout

[Containments][13][Applets][301][Configuration]
PreloadWeight=0

[Containments][13][Applets][301][Configuration][ConfigDialog]
DialogHeight=450
DialogWidth=600

[Containments][13][Applets][301][Configuration][General]
show_lockScreen=false

[Containments][13][Applets][51]
immutability=1
plugin=org.kde.plasma.virtualdesktopbar

[Containments][13][Applets][51][Configuration]
PreloadWeight=0

[Containments][13][Applets][51][Configuration][ConfigDialog]
DialogHeight=540
DialogWidth=720

[Containments][13][Applets][51][Configuration][General]
buttonWidth=2
dropRedundantDesktops=true
idleIndicatorColor=#94d3dae3
indicatorColor=#ffffff
indicatorStyle=5
invertWheelSwitch=true
keepOneEmptyDesktop=true
labelStyle=0
occupiedIndicatorColor=#94d3dae3
showPlusButton=false
wheelSwitchWrap=true

[Containments][13][Applets][51][Configuration][Preferences]
DesktopLabelsStyle=1

[Containments][13][Applets][52]
immutability=1
plugin=org.kde.plasma.digitalclock

[Containments][13][Applets][52][Configuration]
PreloadWeight=0

[Containments][13][Applets][52][Configuration][Appearance]
fontFamily=Metropolis
use24hFormat=0

[Containments][13][Applets][52][Configuration][ConfigDialog]
DialogHeight=450
DialogWidth=600

[Containments][13][Applets][53]
immutability=1
plugin=org.kde.latte.spacer

[Containments][13][Applets][53][Configuration]
PreloadWeight=0

[Containments][13][Applets][53][Configuration][ConfigDialog]
DialogHeight=480
DialogWidth=640

[Containments][13][Applets][53][Configuration][General]
containmentType=Latte
lengthType=LatteIconSize

[Containments][13][Applets][55]
immutability=1
plugin=org.kde.latte.spacer

[Containments][13][Applets][55][Configuration]
PreloadWeight=0

[Containments][13][Applets][55][Configuration][ConfigDialog]
DialogHeight=480
DialogWidth=640

[Containments][13][Applets][55][Configuration][General]
containmentType=Latte
lengthPixels=8

[Containments][13][Applets][56]
immutability=1
plugin=org.kde.latte.spacer

[Containments][13][Applets][56][Configuration]
PreloadWeight=0

[Containments][13][Applets][56][Configuration][ConfigDialog]
DialogHeight=480
DialogWidth=640

[Containments][13][Applets][56][Configuration][General]
containmentType=Latte
lengthPixels=0
lengthType=LatteIconSize

[Containments][13][Applets][57]
immutability=1
plugin=org.kde.latte.separator

[Containments][13][Applets][57][Configuration]
PreloadWeight=0

[Containments][13][Applets][57][Configuration][ConfigDialog]
DialogHeight=480
DialogWidth=640

[Containments][13][Applets][57][Configuration][General]
thickMargin=3

[Containments][13][Applets][59]
immutability=1
plugin=org.kde.shutdownOrSwitch

[Containments][13][Applets][59][Configuration]
PreloadWeight=0

[Containments][13][Applets][59][Configuration][Appearance]
showText=false
widgetIconSize=1
widgetListIconSize=2

[Containments][13][Applets][59][Configuration][ConfigDialog]
DialogHeight=480
DialogWidth=640

[Containments][13][Applets][59][Configuration][General]
showFullName=false
showName=false
widgetIconSize=1

[Containments][13][Applets][60]
immutability=1
plugin=org.kde.plasma.eventcalendar

[Containments][13][Applets][60][Configuration]
PreloadWeight=100

[Containments][13][Applets][60][Configuration][Agenda]
agenda_weather_show_text=true

[Containments][13][Applets][60][Configuration][Calendar]
firstDayOfWeek=1
month_eventbadge_type=dots

[Containments][13][Applets][60][Configuration][ConfigDialog]
DialogHeight=540
DialogWidth=720

[Containments][13][Applets][60][Configuration][General]
clock_line_1_bold=true
clock_line_2_bold=true
clock_line_2_height_ratio=0.44
clock_maxheight=21
clock_timeformat=dddd, h:mm AP
clock_timeformat_2=MMMM d, yyyy
widget_show_meteogram=false
widget_show_timer=false

[Containments][13][Applets][60][Configuration][Google Calendar]
calendar_list=W10=
events_pollinterval=60

[Containments][13][Applets][60][Configuration][Weather]
weather_city_id=1581130

[Containments][13][Applets][61]
immutability=1
plugin=org.kde.latte.plasmoid

[Containments][13][Applets][61][Configuration]
PreloadWeight=0

[Containments][13][Applets][61][Configuration][General]
hoverAction=PreviewAndHighlightWindows
infoBadgeProminentColorEnabled=true
isInLatteDock=true
launchers59=applications:org.kde.dolphin.desktop,applications:google-chrome.desktop,applications:org.kde.konsole.desktop,applications:code.desktop,applications:telegramdesktop.desktop
manualScrollTasksType=Disabled
previewWindowAsPopup=true
showOnlyCurrentDesktop=true
showWindowActions=true

[Containments][13][Applets][62]
immutability=1
plugin=org.kde.plasma.systemtray

[Containments][13][Applets][62][Configuration]
PreloadWeight=20
SystrayContainmentId=12

[Containments][13][ConfigDialog]
DialogHeight=949
DialogWidth=539

[Containments][13][Configuration]
PreloadWeight=0
byPassWM=false
isPreferredForShortcuts=false
onPrimary=true
viewType=1

[Containments][13][General]
advanced=false
alignment=10
alignmentUpgraded=true
appletOrder=51;298;61;299;297;62;52;301
backgroundRadius=0
backgroundShadowSize=8
disablePanelShadowForMaximized=true
durationTime=x1
iconSize=24
inConfigureAppletsMode=true
infoBadgeProminentColorEnabled=true
lengthExtMargin=25
lockedZoomApplets=62
panelPosition=10
panelSize=100
panelTransparency=50
screenEdgeMargin=-1
shadowColorType=User
shadowOpacity=45
shadowSize=60
shadowsUpgraded=true
showGlow=false
showOnlyCurrentDesktop=true
showWindowActions=true
splitterPosition=2
splitterPosition2=5
tasksUpgraded=true
thickMargin=10
unifiedGlobalShortcuts=false
windowColors=ActiveWindowColors
zoomLevel=0

[Containments][13][Indicator]
customType=
enabled=true
enabledForApplets=false
padding=0
type=org.kde.latte.plasma

[Containments][13][Indicator][org.kde.latte.default][General]
extraDotOnActive=true
glowEnabled=true
glowOpacity=0.05

[LayoutSettings]
background=
backgroundStyle=0
color=blue
customBackground=
customTextColor=
icon=
lastUsedActivity=021852fb-8c8b-4701-b3de-5e936f2b23b9
launchers=
popUpMargin=-1
preferredForShortcutsTouched=false
schemeFile=
showInMenu=true
textColor=fcfcfc
version=2
