[ActionPlugins][1]
RightButton;NoModifier=org.kde.latte.contextmenu

[Containments][13]
activityId=
byPassWM=false
dockWindowBehavior=true
enableKWinEdges=true
formfactor=2
immutability=1
isPreferredForShortcuts=false
lastScreen=16
layoutId=
location=4
maxLength=100
name=JokerWrld Dock
onPrimary=true
plugin=org.kde.latte.containment
raiseOnActivityChange=false
raiseOnDesktopChange=false
screensGroup=1
settingsComplexity=4
timerHide=700
timerShow=200
viewType=0
visibility=0
wallpaperplugin=org.kde.image

[Containments][13][Applets][297]
immutability=1
plugin=com.pajuelo.plasmaConfSaver

[Containments][13][Applets][297][Configuration]
PreloadWeight=5

[Containments][13][Applets][301]
immutability=1
plugin=org.kde.plasma.lock_logout

[Containments][13][Applets][301][Configuration]
PreloadWeight=0

[Containments][13][Applets][301][Configuration][ConfigDialog]
DialogHeight=450
DialogWidth=600

[Containments][13][Applets][301][Configuration][General]
show_lockScreen=false

[Containments][13][Applets][319]
immutability=1
plugin=org.kde.plasma.systemtray

[Containments][13][Applets][319][Configuration]
PreloadWeight=55
SystrayContainmentId=320

[Containments][13][Applets][51]
immutability=1
plugin=org.kde.plasma.virtualdesktopbar

[Containments][13][Applets][51][Configuration]
PreloadWeight=0

[Containments][13][Applets][51][Configuration][ConfigDialog]
DialogHeight=540
DialogWidth=720

[Containments][13][Applets][51][Configuration][General]
buttonWidth=2
dropRedundantDesktops=true
idleIndicatorColor=#94d3dae3
indicatorColor=#ffffff
indicatorStyle=5
invertWheelSwitch=true
keepOneEmptyDesktop=true
labelStyle=0
occupiedIndicatorColor=#94d3dae3
showPlusButton=false
wheelSwitchWrap=true

[Containments][13][Applets][51][Configuration][Preferences]
DesktopLabelsStyle=1

[Containments][13][Applets][52]
immutability=1
plugin=org.kde.plasma.digitalclock

[Containments][13][Applets][52][Configuration]
PreloadWeight=0

[Containments][13][Applets][52][Configuration][Appearance]
fontFamily=Roboto
fontSize=5
fontStyleName=Regular
use24hFormat=0

[Containments][13][Applets][52][Configuration][ConfigDialog]
DialogHeight=450
DialogWidth=600

[Containments][13][Applets][53]
immutability=1
plugin=org.kde.latte.spacer

[Containments][13][Applets][53][Configuration]
PreloadWeight=0

[Containments][13][Applets][53][Configuration][ConfigDialog]
DialogHeight=480
DialogWidth=640

[Containments][13][Applets][53][Configuration][General]
containmentType=Latte
lengthType=LatteIconSize

[Containments][13][Applets][55]
immutability=1
plugin=org.kde.latte.spacer

[Containments][13][Applets][55][Configuration]
PreloadWeight=0

[Containments][13][Applets][55][Configuration][ConfigDialog]
DialogHeight=480
DialogWidth=640

[Containments][13][Applets][55][Configuration][General]
containmentType=Latte
lengthPixels=8

[Containments][13][Applets][56]
immutability=1
plugin=org.kde.latte.spacer

[Containments][13][Applets][56][Configuration]
PreloadWeight=0

[Containments][13][Applets][56][Configuration][ConfigDialog]
DialogHeight=480
DialogWidth=640

[Containments][13][Applets][56][Configuration][General]
containmentType=Latte
lengthPixels=0
lengthType=LatteIconSize

[Containments][13][Applets][57]
immutability=1
plugin=org.kde.latte.separator

[Containments][13][Applets][57][Configuration]
PreloadWeight=0

[Containments][13][Applets][57][Configuration][ConfigDialog]
DialogHeight=480
DialogWidth=640

[Containments][13][Applets][57][Configuration][General]
thickMargin=3

[Containments][13][Applets][59]
immutability=1
plugin=org.kde.shutdownOrSwitch

[Containments][13][Applets][59][Configuration]
PreloadWeight=0

[Containments][13][Applets][59][Configuration][Appearance]
showText=false
widgetIconSize=1
widgetListIconSize=2

[Containments][13][Applets][59][Configuration][ConfigDialog]
DialogHeight=480
DialogWidth=640

[Containments][13][Applets][59][Configuration][General]
showFullName=false
showName=false
widgetIconSize=1

[Containments][13][Applets][60]
immutability=1
plugin=org.kde.plasma.eventcalendar

[Containments][13][Applets][60][Configuration]
PreloadWeight=100

[Containments][13][Applets][60][Configuration][Agenda]
agenda_weather_show_text=true

[Containments][13][Applets][60][Configuration][Calendar]
firstDayOfWeek=1
month_eventbadge_type=dots

[Containments][13][Applets][60][Configuration][ConfigDialog]
DialogHeight=540
DialogWidth=720

[Containments][13][Applets][60][Configuration][General]
clock_line_1_bold=true
clock_line_2_bold=true
clock_line_2_height_ratio=0.44
clock_maxheight=21
clock_timeformat=dddd, h:mm AP
clock_timeformat_2=MMMM d, yyyy
widget_show_meteogram=false
widget_show_timer=false

[Containments][13][Applets][60][Configuration][Google Calendar]
calendar_list=W10=
events_pollinterval=60

[Containments][13][Applets][60][Configuration][Weather]
weather_city_id=1581130

[Containments][13][Applets][61]
immutability=1
plugin=org.kde.latte.plasmoid

[Containments][13][Applets][61][Configuration]
PreloadWeight=0

[Containments][13][Applets][61][Configuration][General]
hoverAction=PreviewAndHighlightWindows
infoBadgeProminentColorEnabled=true
isInLatteDock=true
manualScrollTasksType=Disabled
previewWindowAsPopup=true
showOnlyCurrentDesktop=true
showWindowActions=true

[Containments][13][ConfigDialog]
DialogHeight=949
DialogWidth=539

[Containments][13][Configuration]
PreloadWeight=0
byPassWM=false
isPreferredForShortcuts=false
onPrimary=true
viewType=1

[Containments][13][General]
advanced=false
alignment=10
alignmentUpgraded=true
appletOrder=51;61;297;52;319;301
backgroundRadius=0
backgroundShadowSize=8
disablePanelShadowForMaximized=true
durationTime=x1
iconSize=24
inConfigureAppletsMode=true
infoBadgeProminentColorEnabled=true
lengthExtMargin=25
lockedZoomApplets=62
panelPosition=10
panelSize=100
panelTransparency=50
screenEdgeMargin=-1
shadowColorType=User
shadowOpacity=45
shadowSize=60
shadowsUpgraded=true
showGlow=false
showOnlyCurrentDesktop=true
showWindowActions=true
splitterPosition=2
splitterPosition2=4
tasksUpgraded=true
unifiedGlobalShortcuts=false
windowColors=ActiveWindowColors
zoomLevel=0

[Containments][13][Indicator]
customType=
enabled=true
enabledForApplets=false
padding=0
type=org.kde.latte.plasma

[Containments][13][Indicator][org.kde.latte.default][General]
extraDotOnActive=true
glowEnabled=true
glowOpacity=0.05

[Containments][304]
PreloadWeight=42
activityId=
formfactor=2
immutability=1
lastScreen=-1
location=4
plugin=org.kde.plasma.private.systemtray
wallpaperplugin=org.kde.image

[Containments][304][Applets][305]
immutability=1
plugin=org.kde.plasma.volume

[Containments][304][Applets][305][Configuration]
PreloadWeight=34

[Containments][304][Applets][306]
immutability=1
plugin=org.kde.kdeconnect

[Containments][304][Applets][306][Configuration]
PreloadWeight=34

[Containments][304][Applets][307]
immutability=1
plugin=org.kde.plasma.clipboard

[Containments][304][Applets][307][Configuration]
PreloadWeight=34

[Containments][304][Applets][308]
immutability=1
plugin=org.kde.plasma.devicenotifier

[Containments][304][Applets][308][Configuration]
PreloadWeight=34

[Containments][304][Applets][309]
immutability=1
plugin=org.kde.plasma.manage-inputmethod

[Containments][304][Applets][309][Configuration]
PreloadWeight=34

[Containments][304][Applets][310]
immutability=1
plugin=org.kde.plasma.notifications

[Containments][304][Applets][310][Configuration]
PreloadWeight=34

[Containments][304][Applets][312]
immutability=1
plugin=org.kde.plasma.printmanager

[Containments][304][Applets][312][Configuration]
PreloadWeight=34

[Containments][304][Applets][313]
immutability=1
plugin=org.kde.plasma.vault

[Containments][304][Applets][313][Configuration]
PreloadWeight=34

[Containments][304][Applets][314]
immutability=1
plugin=org.kde.plasma.keyboardindicator

[Containments][304][Applets][314][Configuration]
PreloadWeight=34

[Containments][304][Applets][315]
immutability=1
plugin=org.kde.plasma.nightcolorcontrol

[Containments][304][Applets][315][Configuration]
PreloadWeight=34

[Containments][304][Applets][316]
immutability=1
plugin=org.kde.plasma.bluetooth

[Containments][304][Applets][316][Configuration]
PreloadWeight=34

[Containments][304][Applets][317]
immutability=1
plugin=org.kde.plasma.networkmanagement

[Containments][304][Applets][317][Configuration]
PreloadWeight=39

[Containments][304][Applets][318]
immutability=1
plugin=org.kde.plasma.battery

[Containments][304][Applets][318][Configuration]
PreloadWeight=49

[Containments][304][Applets][318][Configuration][General]
showPercentage=true

[Containments][304][ConfigDialog]
DialogHeight=570
DialogWidth=760

[Containments][304][Configuration]
PreloadWeight=42

[Containments][304][General]
extraItems=org.kde.plasma.volume,org.kde.plasma.networkmanagement,org.kde.kdeconnect,org.kde.plasma.battery,org.kde.plasma.clipboard,org.kde.plasma.devicenotifier,org.kde.plasma.manage-inputmethod,org.kde.plasma.mediacontroller,org.kde.plasma.notifications,org.kde.plasma.printmanager,org.kde.plasma.vault,org.kde.plasma.keyboardindicator,org.kde.plasma.nightcolorcontrol,org.kde.plasma.bluetooth
iconsSpacing=4
knownItems=org.kde.plasma.volume,org.kde.plasma.networkmanagement,org.kde.kdeconnect,org.kde.plasma.battery,org.kde.plasma.clipboard,org.kde.plasma.devicenotifier,org.kde.plasma.manage-inputmethod,org.kde.plasma.mediacontroller,org.kde.plasma.notifications,org.kde.plasma.keyboardlayout,org.kde.plasma.printmanager,org.kde.plasma.vault,org.kde.plasma.keyboardindicator,org.kde.plasma.nightcolorcontrol,org.kde.plasma.bluetooth
scaleIconsToFit=true

[Containments][320]
activityId=
formfactor=2
immutability=1
lastScreen=-1
location=4
plugin=org.kde.plasma.private.systemtray
wallpaperplugin=org.kde.image

[Containments][320][Applets][321]
immutability=1
plugin=org.kde.plasma.volume

[Containments][320][Applets][322]
immutability=1
plugin=org.kde.kdeconnect

[Containments][320][Applets][323]
immutability=1
plugin=org.kde.plasma.clipboard

[Containments][320][Applets][324]
immutability=1
plugin=org.kde.plasma.devicenotifier

[Containments][320][Applets][325]
immutability=1
plugin=org.kde.plasma.manage-inputmethod

[Containments][320][Applets][326]
immutability=1
plugin=org.kde.plasma.notifications

[Containments][320][Applets][327]
immutability=1
plugin=org.kde.plasma.keyboardlayout

[Containments][320][Applets][328]
immutability=1
plugin=org.kde.plasma.printmanager

[Containments][320][Applets][329]
immutability=1
plugin=org.kde.plasma.vault

[Containments][320][Applets][330]
immutability=1
plugin=org.kde.plasma.keyboardindicator

[Containments][320][Applets][331]
immutability=1
plugin=org.kde.plasma.nightcolorcontrol

[Containments][320][Applets][332]
immutability=1
plugin=org.kde.plasma.bluetooth

[Containments][320][Applets][333]
immutability=1
plugin=org.kde.plasma.networkmanagement

[Containments][320][Applets][334]
immutability=1
plugin=org.kde.plasma.battery

[Containments][320][General]
extraItems=org.kde.plasma.volume,org.kde.plasma.networkmanagement,org.kde.kdeconnect,org.kde.plasma.battery,org.kde.plasma.clipboard,org.kde.plasma.devicenotifier,org.kde.plasma.manage-inputmethod,org.kde.plasma.mediacontroller,org.kde.plasma.notifications,org.kde.plasma.keyboardlayout,org.kde.plasma.printmanager,org.kde.plasma.vault,org.kde.plasma.keyboardindicator,org.kde.plasma.nightcolorcontrol,org.kde.plasma.bluetooth
knownItems=org.kde.plasma.volume,org.kde.plasma.networkmanagement,org.kde.kdeconnect,org.kde.plasma.battery,org.kde.plasma.clipboard,org.kde.plasma.devicenotifier,org.kde.plasma.manage-inputmethod,org.kde.plasma.mediacontroller,org.kde.plasma.notifications,org.kde.plasma.keyboardlayout,org.kde.plasma.printmanager,org.kde.plasma.vault,org.kde.plasma.keyboardindicator,org.kde.plasma.nightcolorcontrol,org.kde.plasma.bluetooth

[LayoutSettings]
background=
backgroundStyle=0
color=blue
customBackground=
customTextColor=
icon=
lastUsedActivity=aa1ef461-f109-46cd-97de-6f16caa3a8ce
launchers=
popUpMargin=-1
preferredForShortcutsTouched=false
schemeFile=
showInMenu=true
textColor=fcfcfc
version=2
